<div class="btn-container">
    
    <div class="btn" (click)="redirect('/temperature')">Temperature tracking</div>
    <div class="btn" (click)="redirect('/ma')">Medical Appointments (WIP)</div>
    <div class="btn" (click)="redirect('/admin-bibo')">Admin BIBO (WIP)</div>
    <div class="btn" (click)="redirect('/view-bibo')">View Company BIBO</div>
    <div class="btn" (click)="redirect('/parade-state')">Parade State (WIP)</div>
    <!-- <div class="btn" (click)="redirect('/qr')">Show QR Code</div> -->
</div>
<nav-bar></nav-bar>