.img-container {
    position: absolute;
    left: 50%; top: 30%;
    max-height: 40vh;
    transform: translate(-50%,-50%);
}

.title {
    font-size: 2em;
    text-align: center;
    margin-bottom: 3vh;
}

.btn {
    background-color: #49CD9B;
    color: black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-weight: bold;
}

.btn-container {
    width: min(80vw, 320px);
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
}

.fs {
    position:absolute;
    top:0%; left:0%;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.welcome {
    font-size: 1.1em;
    text-align: center;
}