
<nav-bar></nav-bar>
<!-- <select-person *ngIf="open" [catFilter]="catFilter" (select)="Selected($event)" (cancel)="Cancel()"></select-person> -->
<div *ngIf="init" class="container">
    <div class="info card">
        <div style="font-weight: bold;">Parade state action buttons</div>
        <div style="margin-top: 0.5em;">
            <div class="action">Add status</div>
            <div (click)="GenerateAndSend()" class="action">Decode & Send</div>
            <input [(ngModel)]="code" class="action" style="width: 50%;" placeholder="Key">
        </div>
    </div>
    
    <div class="card">
        <div style="font-weight: bold;">KEY PERSONNELS</div>
        <div style="font-size: 0.85em;">
            <!-- CDO: {{nom[paradeState.cdo]}} -->
            CDO: placeholder 
            <!-- <i (click)="Edit(['3'],'cdo')" class="fa fa-pencil" aria-hidden="true"></i> -->
        </div>
        <div style="font-size: 0.85em;">
            <!-- CDS: {{nom[paradeState.cds]}}  -->
            CDS: placeholder
            <!-- <i (click)="Edit(['1'],'cds')" class="fa fa-pencil" aria-hidden="true"></i> -->
        </div>
        <!-- <div style="font-size: 0.85em;"> -->
            <!-- Duty PS: {{nom[paradeState.dps]}}  -->
            <!-- Duty PS: placeholder -->
            <!-- <i (click)="Edit(['1'],'dps')" class="fa fa-pencil" aria-hidden="true"></i> -->
        <!-- </div> -->
    </div>
    
    <div class="card">
        <div style="font-weight: bold;">GENERAL OVERVIEW</div>
        <div *ngFor="let code of psCodeOrder" style="font-size: 0.85em;">
            {{psCode[code].e}} {{psCode[code].l}}: {{paradeState.strength[code]}}
        </div>
    </div>

    
    <div *ngFor="let plt of paradeState.plt" class="card">
        <div style="font-weight: bold;">{{plt.label}} [{{plt.strength.PS}}/{{plt.strength.TT}}]</div>
        <table style="font-size: 0.85em;">
            <div *ngFor="let pid of plt.ppl">
                <span>{{nom[pid]}}</span>
                <span *ngIf="plt.bookedOut[pid] === undefined"> ✅</span>
                <span *ngIf="plt.bookedOut[pid] !== undefined">
                    <span>{{plt.bookedOut[pid].e}}</span>
                    <span *ngIf="plt.bookedOut[pid].rm"> ({{plt.bookedOut[pid].rm}})</span>
                </span>
                
            </div>
        </table>
    </div>
</div>

<div class="side-action-btn-container">
    <div (click)="show.reason = !show.reason" class="side-action-btn" [ngClass]="{'active':show.reason,'not-active':!show.reason}">
        <i class="fa fa-bed fa-lg" aria-hidden="true"></i>
    </div>
    <div (click)="show.status = !show.status" class="side-action-btn" [ngClass]="{'active':show.status,'not-active':!show.status}">
        <i class="fa fa-wheelchair fa-lg" aria-hidden="true"></i>
    </div>
</div>