.container {
    padding: 1em;
    padding-top: 2em;
}

.action {
    background-color: #ebbd68;
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 0.5em;
    margin: 0.5em;
    margin-left: 0;
    margin-top: 0;
    border-radius: 3px;
}

.card {
    background-color: white;
    color: black;
    margin-top: 1em;
    border-radius: 3px;
    padding: 1em;
}

.info {
    background-color: wheat;
}

.side-action-btn-container {
    position: fixed;
    bottom: 0;
    right :0;
    padding: 0.5em;
}

.side-action-btn {
    padding: 0.75em;
    border-radius: 50%;
    text-align: center;
    color: black;
    margin-top: 0.5em;
}

.active {
    background-color: #81c784;
}

.not-active {
    background-color: #e57373;
}