
<nav-bar></nav-bar>
<select-person *ngIf="open" [catFilter]="catFilter" (select)="Selected($event)" (cancel)="Cancel()"></select-person>
<div *ngIf="init" class="container">
    <div class="info card">
        <div style="font-weight: bold;">Parade state action buttons</div>
        <div style="margin-top: 0.5em;">
            <div class="action">Add status</div>
        </div>
    </div>
    
    <div class="card">
        <div style="font-weight: bold;">KEY PERSONNELS</div>
        <div style="font-size: 0.85em;">
            <!-- CDO: {{nom[paradeState.cdo]}} -->
            CDO: placeholder 
            <i (click)="Edit(['3'],'cdo')" class="fa fa-pencil" aria-hidden="true"></i>
        </div>
        <div style="font-size: 0.85em;">
            <!-- CDS: {{nom[paradeState.cds]}}  -->
            CDS: placeholder
            <i (click)="Edit(['1'],'cds')" class="fa fa-pencil" aria-hidden="true"></i>
        </div>
        <div style="font-size: 0.85em;">
            <!-- Duty PS: {{nom[paradeState.dps]}}  -->
            Duty PS: placeholder
            <i (click)="Edit(['1'],'dps')" class="fa fa-pencil" aria-hidden="true"></i>
        </div>
    </div>

    
    <div *ngFor="let plt of paradeState.plt" class="card">
        <div style="font-weight: bold;">{{plt.label}} [{{plt.ps}}/{{plt.ts}}]</div>
        <table style="font-size: 0.85em;">
            <div *ngFor="let pid of plt.ppl">
                {{nom[pid]}} {{plt.bibo[pid].e}}
            </div>
            
            <!-- <div *ngFor="let pid of paradeState[plt[0]].ppl">
                <tr>
                    <td rowspan="2" style="text-align: center;"> 
                        <i class="fa fa-check" style="color:green" aria-hidden="true" *ngIf="!nicid.includes(pid)"></i>
                        <i class="fa fa-times" style="color:red;" aria-hidden="true" *ngIf="nicid.includes(pid)"></i>
                    </td>
                    <td>{{nom[pid]}}</td>
                </tr>
                <tr *ngIf="show.reason && nicid.includes(pid)" style="color: rgb(100,100,100); font-size: 0.8em;">
                    <td>{{paradeState.nic[pid] || "REASON NOT PROVIDED"}}</td>
                </tr>
                <tr *ngIf="show.status && stsid.includes(pid)">
                    <div *ngFor="let sts of paradeState.sts[pid]" style="color: rgb(100,100,100); font-size: 0.8em;">
                        <td>- {{sts.t}} ({{ConvertTimestampToDate(sts.s)}} - {{ConvertTimestampToDate(sts.e)}})</td>
                    </div>
                </tr>

            </div> -->
        </table>
    </div>
</div>

<div class="side-action-btn-container">
    <div (click)="show.reason = !show.reason" class="side-action-btn" [ngClass]="{'active':show.reason,'not-active':!show.reason}">
        <i class="fa fa-bed fa-lg" aria-hidden="true"></i>
    </div>
    <div (click)="show.status = !show.status" class="side-action-btn" [ngClass]="{'active':show.status,'not-active':!show.status}">
        <i class="fa fa-wheelchair fa-lg" aria-hidden="true"></i>
    </div>
    
</div>