<div class="container">
    <!-- <div class="plt-container">
        <a class="label">Platoon</a>
        <div class="cat-btn-container">
            <a *ngFor="let plt of plts" class="cat-btn" [ngClass]="{'selected':plt==selectedPlt}" (click)="selectedPlt=plt">{{plt}} </a>
        </div>
    </div> -->
    <!-- <div class="cat-container">
        <a class="label">Category</a>
        <div class="cat-btn-container">
            <a *ngFor="let cat of cats" class="cat-btn" [ngClass]="{'selected':cat==selectedCat}" (click)="selectedCat=cat">{{cat}} </a>
        </div>
    </div> -->
    <div>
        <a class="label">Name</a> <input [(ngModel)]="name" class="name">
    </div>
    <div class="btn-container">
        <a *ngIf="!firstTime" class="btn cancel" (click)="cancel()">Cancel</a>
        <a class="btn confirm" (click)="confirm()">Confirm</a>
    </div>
</div>