<div class="container">
    <div class="plt-container">
        <a class="label">Platoon</a>
        <div class="plt-btn-container">
            <a *ngFor="let plt of plts" class="plt-btn" [ngClass]="{'selected':plt==selectedPlt}" (click)="selectedPlt=plt">{{plt}} </a>
        </div>
    </div>
    <div>
        <a class="label">Name</a> <input [(ngModel)]="name" class="name">
    </div>
    <div class="btn-container">
        <a *ngIf="!firstTime" class="btn cancel" (click)="cancel()">Cancel</a>
        <a class="btn confirm" (click)="confirm()">Confirm</a>
    </div>
</div>