.login-container {
    
    
    left: 50%;
    top: 75%;
    transform: translate(-50%,-50%);
    position:absolute;

    text-align: center;

}

.login-btn {
    background-color: lightgreen;

    width: 50vw;
    height: 5vh;
    line-height: 5vh;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.msg {
    position: absolute;
    bottom: 5vh;
    left: 5vw;
    width: 90vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: lightgrey;
    text-align: center;
}

.img-container {
    position: absolute;
    left: 50%; top: 30%;
    max-height: 40vh;

    transform: translate(-50%,-50%)
}