.login-container {
    
    
    left: 50%;
    top: 75%;
    transform: translate(-50%,-50%);
    position:absolute;

    text-align: center;

}

.login {
    margin-bottom: 1em;
    font-size: 1.25em;
}

.login-btn {
    background-color: #49CD9B;
    color: black;
    border-radius: 5px;
    width: 50vw;
    height: 5vh;
    line-height: 5vh;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.signup {
    margin-top: 3em;
    text-decoration: underline;
}

.title {
    font-size: 2em;
    text-align: center;
    margin-bottom: 3vh;
}

.msg {
    position: absolute;
    bottom: 5vh;
    left: 5vw;
    width: 90vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    color: lightgrey;
    text-align: center;
}

.img-container {
    position: absolute;
    left: 50%; top: 30%;
    max-height: 40vh;

    transform: translate(-50%,-50%)
}

.fs {
    position:absolute;
    top:0%; left:0%;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}