
<div class="img-container">
    <div class="title">
        RSTA Sedia
    </div>
    <img src="../../assets/11.png" class="eleven">
</div>
<div class="login-container">
    <div class=login>
        Log In
    </div>
    
    <div (click)="signInWithGoogle()" class="login-btn">
        Google
    </div>
    <div (click)="signInWithEmail()" class="login-btn">
        Email
    </div>
    <div (click)="signUpWithEmail()" class="signup">
        Sign Up (Email)
    </div>
</div>

<div class="msg">{{message}}</div>

<login-email *ngIf="promptEmail" class="fs" (emitter)="EmailPassword($event)" [showForget]='!signUp'></login-email>