<div class="img-container">
    <div class="title">
        Home
    </div>
    <img src="../../assets/11.png" class="eleven">
    <div *ngIf="name!=undefined" class="welcome">
        Welcome back, <br>{{name}}.
    </div>
    <div *ngIf="name==undefined" class="welcome" style="color: red">
        Data not initailsied, please go to Profile page and copy the uid at the bottom of the page.
    </div>
</div>

<div class="btn-container">
    <div class="btn" (click)="redirect('/bibo')">BIBO</div>
    <div class="btn" (click)="redirect('/profile')">Profile</div>
    <!-- <div class="btn" (click)="redirect('/view-bibo')">My Bibo Records</div> -->
    <div class="btn" (click)="redirect('/admin')" *ngIf="isAdmin">Admin menu</div>
</div>

