
<div class="book-btn-container" *ngIf="!scan && !manual && !booked && !loading">
    <div (click)="BookIn()" class="book-btn">
        Book In
    </div>
    <div (click)="BookOut()" class="book-btn">
        Book Out
    </div>
</div>


<div class="book-btn-container" *ngIf="scan || manual">
    <div (click)="Manual()" class="manual-btn">
        Input code manually
    </div>
    <div (click)="Cancel()" class="book-btn">
        Cancel
    </div>
</div>




<!-- camera -->
<scanner *ngIf="scan" (qrstring)="qrstring($event)"></scanner>

<!-- manual input -->
<bibo-input-code class="fs" *ngIf="manual" (codeEmitter)="code($event)"></bibo-input-code>

<div class="dist-container" *ngIf="!scan && !manual && !booked && !loading">
    Currently
    <div class="dist">
        {{distanceStr}}
    </div>
    away from RSTA office.
</div>
<div class="msg-container" [ngClass]="{'msg-container-loading': loading}">
    {{msg}}
</div>

<nav-bar></nav-bar>