.book-btn-container {
    position: absolute;
    left: 50%; top: 80%;
    transform: translate(-50%,-50%);
}

.book-btn {
    background-color: lightgreen;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-weight: bold;
}

.dist-container{
    position: absolute;
    left: 50%; top: 30%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.dist {
    font-size: 2em;
}

.txt {
    text-align: center;
    width: 85vw;
    position: absolute;
    bottom: -25%; left: 50%;
    transform:translate(-50%,-50%);
}