
.book-btn-container, .dist-container, .msg-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.book-btn-container {top: 80%;}
.dist-container {top: 30%;}
.msg-container {top: 10%;}


.book-btn {
    background-color: lightgreen;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-weight: bold;
}



.dist {
    font-size: 2em;
}



.txt {
    width: 85vw;
    position: absolute;
    bottom: -25%; left: 50%;
    transform:translate(-50%,-50%);
}

.fs {
    position:absolute;
    top:0%; left:0%;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}