<div class="profile">
    <img src="{{userData.url}}" class="profile-img" />
    <div class="user-info">
        <div class="cat">{{userData.cat}}</div>
        <div class="name">{{userData.name}}</div>
        
    </div>

    <div class="book-info">
        <div *ngIf="userData.lastBookIn">Last book in: {{ConvertDate(userData.lastBookIn)}}</div>
        <div *ngIf="userData.lastBookOut">Last book out: {{ConvertDate(userData.lastBookOut)}}</div>
    </div>
    <div class="btn-container">
        <!-- <div class="btn"><a (click)="changeRankName = true">Change name</a></div> -->
        <div class="btn logout"><a (click)="signOut()">Logout</a></div>
    </div>
    <div class="uid">
        User ID: {{userData.uid}}
        <i *ngIf="!copy" class="fa fa-clipboard fa-lg" aria-hidden="true" (click)="Copy()"></i>
        <i *ngIf="copy" class="fa fa-check fa-lg" aria-hidden="true"></i>
    </div>
</div>

<change-rank-name *ngIf="changeRankName" class="fs" (open)="HandleChange($event)" [data]="userData"></change-rank-name>

<div class="version">v2021.08.09.1</div>

<nav-bar></nav-bar>