<div class="profile">
    <img src="{{userData.url}}" class="profile-img" />
    <div class="user-info">
        <div class="rank">{{userData.rank}}</div>
        <div class="name">{{userData.name}}</div>
        
    </div>

    <div class="book-info">
        <div *ngIf="userData.lastBookIn">Last book in: {{ConvertDate(userData.lastBookIn)}}</div>
        <div *ngIf="userData.lastBookOut">Last book out: {{ConvertDate(userData.lastBookOut)}}</div>
    </div>
    <div class="btn-container">
        <div class="btn"><a (click)="changeRankName = true">Change rank/name</a></div>
        <div class="btn logout"><a (click)="signOut()">Logout</a></div>
    </div>
</div>

<change-rank-name *ngIf="changeRankName" class="fs" (open)="HandleChange($event)" [data]="userData"></change-rank-name>

<div class="version">v2021.07.11.1</div>

<nav-bar></nav-bar>