<nav-bar></nav-bar>

<!-- <div *ngIf="showlocation==1 && false">
    Currently
    <div class="dist">
        {{distanceStr}}
    </div>
    away from ISR office.
</div>
<div class="dist-container" *ngIf="showlocation==2">
    Geolocation disabled. Please enable thx.
</div> -->

<div *ngIf="lastBibo.time !== null" class="last-bibo-container">
    Last Book {{lastBibo.in?'In':'Out'}}: {{dt.ConvertDateToDDMMYY_HHMM_DDD(lastBibo.time)}}
</div>

<div *ngIf="!lastBibo.in" (click)="BookIn()" class="bibo-btn">
    Book in UwU
</div>


<div *ngIf="lastBibo.in">
    <div class="rsn-container">
        <a class="label">Select reason to book out</a>
        <div class="rsn-btn-container">
            <a *ngFor="let rsn of bookOutReasons" (click)="selectedReason = rsn" [ngClass]="{'selected':rsn==selectedReason}" class="rsn-btn">
                <div>{{rsn.emoji}}</div>
                <div>{{rsn.text}}</div>
            </a>
        </div>
        <div class="rsn-remark-container">
            <a class="label">Remarks</a>
            <input [(ngModel)]="bookOutRemark" placeholder="{{selectedReason.remarkPlaceholder}}" [disabled]="selectedReason.remarkPlaceholder==null" class="rsn-remark-input">
        </div>
    </div>
    <div (click)="BookOut()" class="bibo-btn">
        Book out :D
    </div>
</div>
